{% extends "base2.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}

<h1>Summary:</h1>

<p class="summary">The task at hand is to market the concept of "Sustainable Development" by creating a webpage focusing on one or more of the 17 areas known as "the 17 global goals." To begin, select an area and gather relevant statistics and metrics from sources like "SCB Indicators for Sustainable Development" and "Facts about Indicators for Sustainable Development." Store the collected data in a database accessed through an ORM.</p>
<p class="summary">This project presents the challenge of collecting, organizing, analyzing, and presenting metrics on a webpage to showcase the current status of the chosen area. It provides an opportunity to explore sustainability, work with numbers, and practice visualizing data through charts and graphs. Aim to include at least two indicators, resulting in multiple tables in the database.</p>
<p class="summary">Create one or multiple webpages, depending on your preference, to cover various aspects and metrics of the chosen area. Include original text and cite relevant sources. The tone can be neutral and objective or take a more subjective approach, depending on how you choose to present the indicators.</p>
<p class="summary">This project may involve client-side visualization work using JavaScript modules for graphs.</p>
<p class="summary">This project utilized ORM (Object-Relational Mapping) with Doctrine and Symfony, along with Chart.js, to retrieve data, present statistics, and draw conclusions. The implementation of the MVC (Model-View-Controller) architecture was showcased on this website.</p>
<p class="summary">Symfony, a PHP framework, provided a solid foundation for building web applications. Doctrine, a powerful ORM, facilitated database operations and interaction with data using object-oriented programming techniques.</p>
<p class="summary">By leveraging the capabilities of Doctrine, data retrieval became efficient and straightforward, seamlessly integrating with the application. The retrieved data was then analyzed and processed to generate meaningful statistics and insights.</p>
<p class="summary">Chart.js, a JavaScript library, was used to create visually appealing and interactive charts, enabling the visualization of gathered statistics. Through charts and graphs, the data was presented in a clear manner, facilitating understanding of underlying patterns and trends.</p>
<p class="summary">Valuable conclusions and insights were drawn by analyzing the statistics presented through the charts, providing a deeper understanding of the data and its implications.</p>
<p class="summary">The project's code is available on GitHub, where you can explore implementation details and further examine the integration of ORM, Symfony, and Chart.js. Visit the GitHub repository for this project: <a href="https://github.com/AdrianFreshman/Mvc">Github</a></p>
{% endblock %}