{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>
     <p>
    I denna kursen skall vi lära oss programmera webbapplikationer på ett objektorienterat sätt med fokus på det arkitekturella designmönstret MVC. För att komma igång behöver vi en bas och där har vi valt ramverket Symfony som är ett av de mer kända ramverken inom PHP.

Vi börjar med att installera Symfony och bygger en webbplats med en kontroller (C:et i MVC) som ger oss grunden för kursens me-sida som skall innehålla detaljer om dig själv, kursen och dina redovisningstexter. Du använder vyer för att rendera webbsidorna (V:et i MVC). Vi provar även att skapa en sida som genererats med JSON, det blir ett embryo till att se hur man kan bygga en webbtjänst med ett så kallat RESTful API.</p>

Vi skall också börja lära oss om grunderna med objektorientering och dess konstruktioner i PHP.
    <p>
                    Denna webbplatsen är en del av kursen
                    <a href="https://github.com/dbwebb-se/mvc">mvc</a
                    ><br /><br />
                    Kursrepo:
                    <a
                        href="https://github.com/AdrianFreshman/Mvc"
                        >Github
                    </a>
                </p>
{% endblock %}
