{% extends 'base.html.twig' %}

{% block body %}
<h1>Deck of Cards</h1>
<div class="card-deck">
{% for card in cards %}
<div class="card">
<img src="{{ card.getImagePath() }}" class="card-img-top" alt="{{ card.getValue() }} of {{ card.getSuit() }}">
<div class="card-body"> 
</div>
</div>
{% endfor %}
</div>
{% endblock %}

