{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>Reports</h1>
    <h4>Kmom01</h4
    <p>Jag har erfarenhet endast genom oopython-kursen där vi skapade klasser och moduler, vilket var knepigt men roligt.

PHPs modell för klasser och objekt är baserad på koncepten i objektorienterad programmering, som inkluderar klasser, objekt, egenskaper och metoder. För att skapa dina första klasser i PHP behöver du förstå grundläggande begrepp som objekt, instansiering, egenskaper och metoder. <br><br>

Uppgiften me/report använde en kodstruktur som byggde på Symfony-ramverket och använde JavaScript-rutter och Twig-filer. Jag uppfattade den som välstrukturerad och lätt att följa.<br><br>

När det gäller artikeln “PHP The Right Way” är de delar som jag finner extra intressanta och värdefulla de som handlar om kodstil och programmeringsparadigmer, särskilt objektorienterad programmering och funktionell programmering. Jag vill lära mig mer om hur man kan använda funktioner som variabler och högre ordningens funktioner i PHP. De delar av artikeln som jag finner mest värdefulla är de som förklarar PSR-standarden för kodstil och hur man kan använda verktyg som PHP_CodeSniffer för att följa denna standard, samt länkar till andra resurser som Clean Code PHP.<br><br>Xdebug
En av de mest användbara verktygen inom mjukvaruutveckling är en ordentlig felsökare. Det låter dig spåra utförandet av din kod och övervaka innehållet i stacken. Xdebug, PHP:s felsökare, kan användas av olika IDE:er för att tillhandahålla brytpunkter och stackinspektion. Det kan också tillåta verktyg som PHPUnit och KCacheGrind att utföra kodtäckningsanalys och kodprofilering.<br><br>

Om du finner dig själv i en knipa, villig att ta till var_dump()/print_r(), och du fortfarande inte kan hitta lösningen - kanske behöver du använda felsökaren.<br><br>

Idag fick jag veta att det finns ett växande intresse för att använda Symfony-ramverket, JavaScript och nya CSS-ramverk i webbutveckling. Dessa tekniker blir allt mer populära på grund av deras förmåga att förenkla utvecklingsprocessen, öka produktiviteten och förbättra användarupplevelsen.<br><br>

Symfony är ett PHP-webbapplikationsramverk som tillhandahåller en standardiserad uppsättning verktyg och bästa praxis för att bygga webbapplikationer. Det är känt för sin modulära arkitektur, som gör det möjligt för utvecklare att bygga applikationer med hjälp av återanvändbara komponenter. Detta kan hjälpa till att minska utvecklingstiden och förbättra kodkvaliteten.<br><br>


TIL: att det finns ett växande intresse för att använda Symfony-ramverket, JavaScript och nya CSS-ramverk i webbutveckling. Dessa tekniker blir allt mer populära på grund av deras förmåga att förenkla utvecklingsprocessen, öka produktiviteten och förbättra användarupplevelsen</p>
    <h4>Kmom02</h4
    <p></p>
    <h4>Kmom03</h4
    <p></p>
    <h4>Kmom04</h4
    <p></p>
    <h4>Kmom05</h4
    <p></p>
    <h4>Kmom06</h4
    <p></p>

{% endblock %}