{% extends 'base2.html.twig' %}

{% block title %}Statistic vizuals{% endblock %}

{% block body %}
   
    <h1>Statistic routesRoutes</h1>
<div class="grid-container">

        {% for name, link in links %}
            <div class="card-link" onclick="window.location.href='{{ path(link.url) }}'">
                <a href="#" class="api-link">{{ name }}</a>
                <p class="api-description">{{ link.description }}</p>
            </div>
        {% endfor %}
    </div>


    <div class="badges-container">
        <a href="https://scrutinizer-ci.com/g/AdrianFreshman/Mvc/?branch=main">
            <img src="https://scrutinizer-ci.com/g/AdrianFreshman/Mvc/badges/quality-score.png?b=main" alt="Scrutinizer Quality Score">
        </a>
        <a href="https://scrutinizer-ci.com/g/AdrianFreshman/Mvc/?branch=main">
            <img src="https://scrutinizer-ci.com/g/AdrianFreshman/Mvc/badges/coverage.png?b=main" alt="Scrutinizer Code Coverage">
        </a>
        <a href="https://scrutinizer-ci.com/g/AdrianFreshman/Mvc/build-status/main">
            <img src="https://scrutinizer-ci.com/g/AdrianFreshman/Mvc/badges/build.png?b=main" alt="Scrutinizer Build Status">
        </a>
        <a href="https://scrutinizer-ci.com/code-intelligence">
            <img src="https://scrutinizer-ci.com/g/AdrianFreshman/Mvc/badges/code-intelligence.svg?b=main" alt="Scrutinizer Code Intelligence">
        </a>
    </div>
{% endblock %}
    

